*{
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    font-family: 'Roboto', sans-serif;
}

#social{
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}

font{
    float: left;
    letter-spacing: 2px;
}

span{
    font-size: 12px;
    letter-spacing: 1px;
}

#social>i{
    margin-right: 15px;
}

#container{
    width: 80%;
    margin: auto;
    height: auto;
}

header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 35px;
    background-color: black;
}

#headerResim{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}

#centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    overflow: auto;
}

nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
}

nav ul {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}


.list-item {
    background: #000;
    color: whitesmoke;
    margin-bottom: 0.43em;
    text-align: center;
    height: 4em;
    width: 94.5%;
    vertical-align: middle;
    line-height: 4em;
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: -2em 1.5em 0 #c1c1c1;
    transition: all 0.2s linear;
}
.list-item:hover {
    text-decoration: none;
    background: #ff6e42;
    color: #fffcfb;
    transform: translate(0.9em, -0.9em);
    transition: all 0.25s linear;
    box-shadow: 0 3em 1 #a5a5a5;
}
.list-item:hover:before, .list-item:hover:after {
    transition: all 0.25s linear;
}
.list-item:hover:before {
    background: #b65234;
    width: 1em;
    top: 0.5em;
    left: -1em;
    height: 4em;
}
.list-item:hover:after {
    z-index: -1;
    background: #b65234;
    width: 1em;
    bottom: -11.3em;
    left: 1em;
    height: 21.7em;
}
.list-item:before, .list-item:after {
    content: '';
    position: absolute;
    transition: all 0.25s linear;
    width: 0.5em;
}
.list-item:after {
    height: 4em;
    background: #181818;
    bottom: -2.25em;
    left: 1.5em;
    transform: rotate(90deg) skew(0, 45deg);
}
.list-item:before {
    height: 2.5em;
    background: #121212;
    top: 0.25em;
    left: -0.5em;
    transform: skewY(-45deg);
}
.list-item:before{}
.list-item:after {
    content: '';
    position: absolute;
    transition: all .25s linear;
    width: .5em;
}
.list-item:after {
    height: 4em;
    background: #181818;
    bottom: -2.25em;
    left: 1.5em;
    transform: rotate(90deg) skew(0, 45deg);
}
.list-item:before {
    height: 0.5em;
    background: #121212;
    top: .25em;
    left: -.5em;
    transform: skewY(-45deg);
}


/*nav li a{*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    border-bottom: 1px solid #b4b4b4;*/
/*    padding-left: 28px;*/
/*    display: block;*/
/*}*/

/*nav li a:hover{*/
/*    color: white;*/
/*    background-color: #adadad;*/
/*}*/

i{
    margin-right: 10px;
}
.content{

    position: static;
    background: #322f2f;
    width: 80%;
    float: right;
    height: 100%;
    margin-bottom: 5%;
}
#myChart {
    width: 100%;
    height: 100%;
    min-height: 250px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
#myChart2{
    height: 100%;
    width: 100%;
    min-height: 530px;
    display: flex;
}

.keten{
    margin-top: 25px;
    background-color: white;
    color: black;
    border:1px solid black;
    height: 500px;
    width: 90%;
    position:relative;
    margin-left: 5%;
}

.keten_pantolon{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.keten_gomlek{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}

.ipek{
    margin-top: 25px;
    background-color: white;
    color: black;
    border:1px solid black;
    height: 500px;
    width: 90%;
    position:relative;
    margin-left: 5%;
}

.ipek_pantolon{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.ipek_gomlek{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.yunlu{
    margin-top: 25px;
    background-color: white;
    color: black;
    border:1px solid black;
    height: 500px;
    width: 90%;
    position:relative;
    margin-left: 5%;
}

.yunlu_pantolon{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.yunlu_gomlek{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.polyester{
    margin-top: 25px;
    background-color: white;
    color: black;
    border:1px solid black;
    height: 500px;
    width: 90%;
    position:relative;
    margin-left: 5%;
}

.polyester_pantolon{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.polyester_gomlek{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.pamuklu{
    margin-top: 25px;
    background-color: white;
    color: black;
    border:1px solid black;
    height: 500px;
    width: 90%;
    position:relative;
    margin-left: 5%;
}

.pamuklu_pantolon{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.pamuklu_gomlek{
    margin-left: 15%;
    width: 200px;
    height: 350px;
    display: inline-block;
}
.notice {
    text-align: center;
    border-radius: 25% 25% 25% 25%;
    height: 100%;
    width: 95%;
    margin: 15px;
    background-color: #fafafa;
    border-left: 13px solid #7f7f84;
    border-right: 13px solid #7f7f84;
    border-bottom: 5px solid #7f7f84;
    border-top: 2px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: rgba(128, 214, 81, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.notice-success {
    border-color: #80d651;
}
.notice-success>strong {
    color: #80D651;
}
